<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="icon" href="../Data/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="snowflakes">
        <div class="snowflake"><p><b>😂</b></p></div>
        <div class="snowflake"><p><b>🤣</b></p></div>
        <div class="snowflake"><p><b>😁</b></p></div>
        <div class="snowflake"><p><b>😆</b></p></div>
        <div class="snowflake"><p><b>😂</b></p></div>
        <div class="snowflake"><p><b>🤣</b></p></div>
        <div class="snowflake"><p><b>😁</b></p></div>
        <div class="snowflake"><p><b>😆</b></p></div>
        <div class="snowflake"><p><b>😂</b></p></div>
        <div class="snowflake"><p><b>🤣</b></p></div>
    </div>
    
    <div class="container">
        <div class="logo-container">
            <img src="../Data/logo_memes.png" alt="Logo" class="logo">
        </div>
        
        <div class="login-container">
            <h2>Log In</h2>
            <form id="loginForm" action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <a href="{{ url_for('register') }}">Don't have an account?</a>
                <button type="submit" class="btn">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="text">Login</span>
                </button>
            </form>
        </div>
    </div>
</body>
</html>